{{ $membership_url := "membership" | absURL }}
<article class="bb b--black-10">
    <div class="db pv4 ph3 ph0-l no-underline dark-gray">
        <div class="flex flex-column flex-row-ns">
            <div class="blah w-100{{ if .Params.featured_image }} w-60-ns pl3-ns{{ end }}">
                <h1 class="f3 fw1 athelas mt0 lh-title">
                    <a href="{{ $membership_url }}" class="color-inherit dim link">
                        Pay your membership fee for 2020 through PayPal
                    </a>
                </h1>
                <a href="{{ $membership_url }}" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1">
                    {{ $.Param "read_more_copy" | default (i18n "readMore") }}
                </a>
            </div>
        </div>
    </div>
</article>